{% extends 'extra.html' %}
{% block title %}Meri website{% endblock title %}

{% load static %}

{% block head_content%}

<link rel='stylesheet' type='text/css' media='screen' href='main.css'>
<script src='main.js'></script>
<style>
    body {
        background: rgb(99, 39, 120)
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #BA68C8
    }

    .profile-button {
        background: rgb(99, 39, 120);
        box-shadow: none;
        border: none
    }

    .profile-button:hover {
        background: #682773
    }

    .profile-button:focus {
        background: #682773;
        box-shadow: none
    }

    .profile-button:active {
        background: #682773;
        box-shadow: none
    }

    .back:hover {
        color: #682773;
        cursor: pointer
    }

    .labels {
        font-size: 11px
    }

    .add-experience:hover {
        background: #BA68C8;
        color: #fff;
        cursor: pointer;
        border: solid 1px #BA68C8
    }
</style>
{% endblock head_content%}


{% block body %}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                    width="150px"
                    src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
                    class="font-weight-bold">Edogaru</span><span class="text-black-50">edogaru@mail.com.my</span><span>
                </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <form method="POST" action="/update_details">
                    {% csrf_token %}
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>

                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Username</label>
                            <input type="text" name="updatename" class="form-control" placeholder={{user}} value="">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label class="labels">Name</label>
                            <input type="text" name="updatefname" class="form-control" placeholder={{user.first_name}}>
                        </div>
                        <div class="col-md-6">
                            <label class="labels">Surname</label>
                            <input type="text" name="updatelname" class="form-control" value=""
                                placeholder={{user.last_name}}>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels">Mobile Number</label>
                            <input type="tel" class="form-control" maxlength="10"
                                oninput="this.value=this.value.replace(/[^0-9]/g,'');" id="ph_num" name='update_ph_num'
                                placeholder={{user.profile.ph_number}}>
                        </div>
                        <div class="col-md-12"><label class="labels">Email ID</label><input type="email"
                                name="updateemail" class="form-control" placeholder={{user.email}}></div>
                        <div class="col-md-12"><label class="labels">Address Line 1</label><input type="text"
                                name="update_address_line_1" class="form-control" placeholder={{user.profile.Address_line_1}}
                                ></div>
                        <div class="col-md-12"><label class="labels">Address Line 2</label><input type="text"
                                name="update_address_line_2" class="form-control" placeholder={{user.profile.Address_line_2}}
                                ></div>
                        <div class="col-md-12"><label class="labels">Pincode</label><input type="text"
                                name="updatepincode" class="form-control" placeholder={{user.profile.pincode}}>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">Country</label><input type="text"
                                name="updatecountry" class="form-control" placeholder={{user.profile.country}} ></div>
                        <div class="col-md-6"><label class="labels">State/Region</label><input type="text"
                                name="update_state/region" class="form-control"  placeholder={{user.profile.state_or_region}}></div>
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Enter Password</label>
                        <input type="password" name="confirm_password" class="form-control" placeholder="Enter password to confirm changes" Required>
                    </div>

                    <div class="mt-5 text-center">
                        <button class="btn btn-primary profile-button" type="submit">Save
                            Profile</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span>Edit
                        Experience</span><span class="border px-3 p-1 add-experience"><i
                            class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
                <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text"
                        class="form-control" placeholder="experience" value=""></div> <br>
                <div class="col-md-12"><label class="labels">Additional Details</label><input type="text"
                        class="form-control" placeholder="additional details" value=""></div>
            </div>
        </div>
    </div>
</div>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
    integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
    crossorigin="anonymous"></script>
{%endblock body%}